[2021-12-29 09:50] like-a-freedom opened #2 "Clickhouse request errors"
Good day!

I've started uptrace setup via Docker and got an errors in UI:

<img width="1440" alt="Screenshot 2021-12-29 at 12 45 35" src="https://user-images.githubusercontent.com/4669970/147649056-bade0ed1-0005-4735-a607-e599692d10bd.png">

`*ch.Error: DB::Exception: Unknown function toFloat64OrDefault. Maybe you meant: ['toFloat64OrNull','dictGetFloat64OrDefault']: While processing toFloat64OrDe

[2021-12-29 10:08] vmihailenco commented on #2
If you can, upgrade to ClickHouse 21.11 or 21.12. We are using those versions and they are pretty stable.

I will see if we can remove `toFloat64OrDefault` usage to make it work on older CH versions.

[2021-12-29 11:54] like-a-freedom commented on #2
Thank you!
It works well on `yandex/clickhouse-server:21.12.3.32`, so I'll close this issue because it's just a development environment.

[2021-12-29 11:54] #2 closed

[2022-01-25 06:39] Ax1an opened #4 "DB::Exception: Column `time` is not under aggregate function and not in GROUP BY"
![image](https://user-images.githubusercontent.com/28091237/150924378-7566e5ff-49c7-43a6-9ed5-bfbc5695132d.png)

ClickHouse version: 21.11.11.1

[2022-01-25 06:41] vmihailenco commented on #4
@Ax1an this should be fixed by https://github.com/uptrace/uptrace/commit/aed295ad32577a0592a3ecbb61a04f5a305b8181. Can you make sure you are running v0.2.1?

[2022-01-25 06:48] Ax1an commented on #4
@vmihailenco OK, I'll pull down the latest code and try again.

[2022-01-25 07:36] Ax1an commented on #4
@vmihailenco After using the latest code, the problem is solved.

[2022-01-25 07:36] #4 closed

[2022-01-28 07:49] faceair commented on #2
@vmihailenco Are there any plans to support lower versions of clickhouse now?

[2022-01-28 08:04] vmihailenco commented on #2
ClickHouse is developed rapidly so the requirement to support old versions can be especially frustrating. So I think no, we will only support 3 last ClickHouse versions which is v21.11 at the moment.

[2022-01-28 14:13] vmihailenco opened #5 "Support more compression methods in OTLP"

[2022-02-02 10:26] rinshadka opened #8 "Issue in traefik routing to OTLP/HTTP port"
I am running uptrace in docker and used traefik for routing the OLTP/HTTP requests and its working while accessing the UI, since UI and OTLP/HTTP are the same ports , OTLP/HTTP also should work.
But while sending trace data to OLTP/HTTP via traefik, we are not getting the POST request in uptrace.

But if we use the direct port we can see the POST requests in the docker logs like below.

[code]
Tha

[2022-02-02 11:11] vmihailenco commented on #8
Uptrace does not do anything special with OTLP/HTTP. it is just a Go HTTP server. Are you able to use that setup with OpenTelemetry Collector?

Also, do you really need to use Docker+traefik? You can find a pre-compiled binary in [releases](https://github.com/uptrace/uptrace/releases) - it is much easier to administer...

Not sure how else I can help. This sounds like a problem with traefik and/or

[2022-02-21 14:40] #8 closed

[2022-03-10 21:54] jkrech17 opened #11 "unexpected filter filtering spans by duration using pre-defined menu"
When filtering spans by duration, receive an error

`unexpected ">" in "where span.duration ><-= 500ms"
`

Manually removing the = in the filter produces results >

`where span.duration > 500ms`

![duration_filter](https://user-images.githubusercontent.com/3282447/157760291-e019f02c-c001-4c36-a406-7c5e09fdf24a.png)

[2022-03-12 10:56] vmihailenco commented on #11
Thanks for the report - this should be fixed in the upcoming release.

[2022-03-12 10:56] #11 closed

[2022-03-19 13:05] vmihailenco commented on #5
Closed by https://github.com/uptrace/uptrace/commit/4858563913f0be9773bdb3f49693c244c8ae714b

[2022-03-19 13:05] #5 closed

[2022-03-23 06:49] kokizzu opened #13 "[question] is the ingestion to clickhouse buffered?"
i mean, clickhouse can do only 100 batch insert per second before it gets `code: 252, message: Too many parts (300). Merges are processing significantly slower than inserts`, the question is: is the insert buffered/batched?

[2022-03-23 06:55] vmihailenco commented on #13
Yes, inserts are batched **and** buffered. You can start uptrace with `DEBUG=2` to print all executed queries

[code]

`spans_data_buffer` is a buffer table and uptrace inserts data in batches. What hardware do you have and how much data do you insert?

[2022-03-23 07:05] kokizzu commented on #13
ah ok, cool

[2022-03-23 07:05] #13 closed

[2022-03-23 09:05] puniey opened #14 "In example, docker-compose up failed"
docker-uptrace-1  |       *ch.Error: DB::Exception: Missing columns: 'time' while processing query: 'project_id, `span.system`, `span.group_id`, time', required columns: 'project_id' 'span.system' 'time' 'span.group_id' 'project_id' 'span.system' 'time' 'span.group_id'
docker-uptrace-1  | [ch]  09:03:18.366   ALTER                 5.539ms  ALTER TABLE ch_migration_locks DROP COLUMN col1
docker-upt

[2022-03-23 13:14] vmihailenco commented on #14
@puniey thanks for the report. This should be fixed in v0.2.10. You can pull new images and try again:

[code]

[2022-03-23 13:14] #14 closed

[2022-03-25 13:08] anmic opened #18 "Explore slowest groups button not working."
https://github.com/uptrace/uptrace/blob/master/vue/src/components/SlowestGroups.vue#L7
Groups are ordered by count_per_min  instead of p50(duration)

[2022-03-25 14:08] vmihailenco commented on #18
Fixed by https://github.com/uptrace/uptrace/commit/17f5001bc38e9c97fda7fb3f9b5e060dc6597342

[2022-03-25 14:08] #18 closed

[2022-03-25 14:09] vmihailenco opened #20 "Warn if the database schema must be reset"

[2022-03-28 09:51] bruse-peng opened #23 "the detail guide"
can you provide the detail guide README from configration to use with diffrent language

[2022-03-28 10:07] vmihailenco commented on #23
@bruse-peng did you see https://get.uptrace.dev/guide/ ? Let me know what information is missing and I will try to improve that.

[2022-03-28 10:19] bruse-peng commented on #23
1、you can provide the Architecture diagram, how the data flow works, such as the elastic APM ,
![elacticapm](https://user-images.githubusercontent.com/47881861/160377591-a401fed6-9ab8-4cf2-a0e4-81b99f1a4514.png)

2、many of us not the developer  you should privide the detail install document

3、you can also privide the the advantage compared with elastic apm or zpkin or skywalking

[2022-03-28 10:30] vmihailenco commented on #23
Could you try https://get.uptrace.dev/guide/#installation? It is a few shell commands so I am not sure how to further simplify it.

Sure, I will write some introduction and will post it here.

[2022-03-28 10:33] bruse-peng commented on #23
when i run uptrace --config=uptrace.yml ch reset it arise error how to resolve it

[root@fluent-bit-clinet-server uptrace]# uptrace --config=uptrace.yml ch reset
[ch]  02:31:57.968   CREATE TABLE          5.851ms  CREATE TABLE IF NOT EXISTS ch_migrations (name String, group_id Int64, migrated_at DateTime, sign Int8) Engine = CollapsingMergeTree(sign) ORDER BY (name)        *errors.errorString: ch:

[2022-03-28 10:57] vmihailenco commented on #23
Please see https://clickhouse.uptrace.dev/guide/getting-started.html#server-timezone . I will try to improve that in the next version.

[2022-03-28 11:04] bruse-peng commented on #23
i change the time zone below but still error, if it is the reason of my os timezone

    <timezone>UTC</timezone>

[2022-03-28 11:24] vmihailenco commented on #23
It should not depend on the OS timezone. Perhaps you need to restart ClickHouse `sudo systemctl restart clickhouse-server`

I am from Moldova/Eastern Europe.

[2022-03-28 12:16] vmihailenco commented on #23
I've some basic info you've requested at https://get.uptrace.dev/guide/intro.html. Please take a look.

[2022-03-29 01:57] bruse-peng commented on #23
i have restart clickhouse  but it still  has errors

[root@fluent-bit-clinet-server uptrace]#
[root@fluent-bit-clinet-server uptrace]# uptrace --config=uptrace.yml ch reset
[ch]  09:54:47.312   CREATE TABLE          3.195ms  CREATE TABLE IF NOT EXISTS ch_migrations (name String, group_id Int64, migrated_at DateTime, sign Int8) Engine = CollapsingMergeTree(sign) ORDER BY (name)        *errors.error

[2022-03-29 12:49] vmihailenco commented on #23
Please try v0.2.11 - it should work with any ClickHouse timezone.

[2022-03-30 04:04] bruse-peng commented on #23
![image](https://user-images.githubusercontent.com/47881861/160749176-405e6b76-210c-4c46-a441-80ae74f676c7.png)

which version

[2022-03-30 04:04] #23 closed

[2022-03-30 04:18] bruse-peng commented on #23
i update the uptrace.yml from host: 'localhost'  to host: '192.168.240.100' how should i restart uptrace, the ducument only privide   ./uptrace --config=uptrace.yml serve

[2022-03-30 04:21] bruse-peng commented on #23
i killed process but it start again
![image](https://user-images.githubusercontent.com/47881861/160750687-89f4bdd8-6acb-4ff7-bfc7-36ff508a66c1.png)

[2022-03-30 05:00] bruse-peng commented on #23
thank you it works,but if i want put django running metric to uptrace what should i do ,if i use elastic apm ,the document(https://www.elastic.co/guide/en/apm/get-started/current/install-and-run.html) tell me what should i do
![image](https://user-images.githubusercontent.com/47881861/160751217-e2d7e78c-0069-411b-8825-7bea91a3b1c7.png)

[2022-03-30 05:56] bruse-peng commented on #23
you should add the time range,1min,5min,15min,3min

[2022-03-30 05:56] bruse-peng commented on #23
you should add the time range,1min,5min,15min,3min
![image](https://user-images.githubusercontent.com/47881861/160761249-3d83f551-3eb2-4df3-8ece-e73b448f3eaf.png)

[2022-03-30 11:36] vmihailenco commented on #23
See [Django tutorial](https://get.uptrace.dev/opentelemetry/django.html)

I've added 15m and 30m periods. Smaller periods are not that useful because spans are buffered on all stages.

[2022-03-30 11:59] vmihailenco opened #24 "Add user agent parsing"
Using github.com/mileusna/useragent

[2022-03-30 19:27] jkrech17 opened #25 "Feature: Save Filters / Configurable Default Landing Page"
It could be beneficial to allow the main summary view in Uptrace to be configurable by a particular attribute.  Right now there are Systems, Services, and hosts but say you had an attribute of app.name.  It would be useful to be able to add additional views based on some attributes users have added to a group by Application, etc.

![image](https://user-images.githubusercontent.com/3282447/16091337

[2022-03-31 07:38] vmihailenco commented on #25
Before we discuss how to implement this, did you consider using `group by app.name` in Explore tab? That is more or less the same data, but with the ability to add/remove columns & apply filters.

![explore-group-by](https://user-images.githubusercontent.com/290976/161001654-838b917f-af45-4213-823e-fb25de0d411c.png)

The only missing feature is that Uptrace does not allow to remember filters. So p

[2022-03-31 09:50] jkrech17 commented on #25
I was thinking something similar but did not write it that way. I think saved filters would be a great feature, but I still think it would be useful for the main landing page to default to a saved filter the user selected.  When there are a large number of services exist system:service name page is fairly long and almost always default to some type of exploration.  Allowing a saved filter as defau

[2022-04-11 11:10] vmihailenco opened #26 "Show service name in trace view"

[2022-04-15 12:44] dixanms opened #28 "read project list from a dynamic source (feature request)"
Feature request: Read the project list periodically from a dynamic source such as a URL, or from the output of a script.

Currently, a reconfiguration and a service restart is required, which is not ideal for complex environments

[2022-04-15 21:45] dixanms opened #29 "Error sorting by wrong column span.count_per_min"
http://oteldev-01.moncc.net:14318/explore/13385337/spans?time_dur=3600&query=group%20by%20span.group_id%20%7C%20span.count_per_min%20%7C%20span.error_pct%20%7C%20%7Bp50,p90,p99%7D%28span.duration%29%20%7C%20where%20span.group_id%20%3D%20%228962033991366417035%22&system=http%3Aotel-ui-dev&sort_by=span.count_per_min&sort_dir=desc

`*ch.Error: DB::Exception: Missing columns: 'span.count_per_min' whil

[2022-04-16 05:21] vmihailenco commented on #29
This was fixed in v0.2.13. Can you make sure you have the last version? https://get.uptrace.dev/guide/debugging.html

[2022-04-16 06:07] vmihailenco commented on #28
We could add a function that returns a [list of projects](https://github.com/uptrace/uptrace/blob/master/pkg/org/project.go) as a single source of truth and then use that list everywhere.

PR is welcome.

[2022-04-19 06:42] vmihailenco commented on #29
Indeed, sorry :man_shrugging:

[2022-04-19 09:58] #29 closed

[2022-04-19 10:19] #26 closed

[2022-04-19 10:27] vmihailenco commented on #24
Done in master

[2022-04-19 10:27] #24 closed

[2022-05-06 07:31] vmihailenco opened #36 "Show an error when a trace can't be find by UUID"

[2022-05-11 13:19] vmihailenco opened #40 "Push development build to Docker hub"

[2022-05-15 16:12] vmihailenco opened #42 "Check cloki keys & values API to refine selection"

[2022-05-18 13:47] vmihailenco commented on #36
Should be fixed by https://github.com/uptrace/uptrace/pull/43

[2022-05-18 13:47] #36 closed

[2022-05-18 15:52] vmihailenco opened #46 "Accept DSN in Zipkin API"

[2022-05-25 08:59] vmihailenco commented on #46
Should be done.

[2022-05-25 08:59] #46 closed

[2022-05-31 06:50] #40 closed

[2022-05-31 06:51] vmihailenco commented on #40
[Done, there ](https://hub.docker.com/repository/docker/uptrace/uptrace-dev)

[2022-06-10 14:12] jkrech17 opened #59 "Add Distributed Table to Uptrace Schema"
With the addition of ch_schema.replicated it would also be useful to have an option if you want to just use a Distributed Engine that would point to either the MergeTree tables or ReplicatedMergeTree tables.

In some cases, you may want to load balance across servers and not necessarily use replication.

Thanks!

[2022-07-02 12:13] vmihailenco commented on #59
Should be addressed by adding `ch_schema.cluster` option in https://github.com/uptrace/uptrace/commit/973c3a7021ecb5cdecf6df5369a77386022d45b1

[2022-07-02 12:13] #59 closed

[2022-07-28 07:06] #42 closed

[2022-08-05 09:22] vmihailenco opened #67 "Roadmap"
- Metrics support using OpenTelemetry and Prometheus-like API
   - [x]  Accept OpenTelemetry metrics via OTLP and store in ClickHouse
   - [x]  Support AlertManager
   - [x]  Port Uptrace metrics
   - [x]  Do some thorough testing how Uptrace+Prometheus+AlertManager work together
   - [x]  Documentation
- [x] Allow to pin attributes on the overview page - https://github.com/uptrace/uptrace/issues/

[2022-08-26 13:35] vmihailenco commented on #25
You can now pin attributes on the overview page via YAML config:

[code]

Query history is planned for later.

[2022-08-27 07:59] #20 closed

[2022-08-29 09:36] l0nax opened #73 "Initial Migrations do no longer work"
#### Description

If a new deployment is created with the latest `uptrace-dev` docker image, the initial Clickhouse migrations will not pass.

This is because the Clickhouse formatter does not fully replace all arguments within the migrations.

The following lines declare which arguments do exist
https://github.com/uptrace/uptrace/blob/93bb17c7b46c4d1dc721073b948bd1fb80b3a4af/pkg/bunapp/app.go#L36

[2022-08-29 10:35] vmihailenco commented on #73
@l0nax thanks for reporting, but it seems to be working for me.

What I tried:

[code]

Are there any details that I am missing?

That code is slightly outdated, but I am not sure it is relevant. The latest version is at https://github.com/uptrace/uptrace/blob/master/cmd/uptrace/command/ch.go#L264-L296

[2022-08-29 11:56] l0nax commented on #73
I tried to use the `docker-compose.yaml` and the following error appierd in the logs:
[code]

Record of the terminal session with the error: https://asciinema.org/a/A3lbwCIrc2wuYuKFHYab7e0xp

[2022-08-29 12:52] vmihailenco commented on #73
@l0nax Could you try the latest docker example and v1.0.0-rc.2?

[2022-08-29 12:58] vmihailenco commented on #73
@l0nax could show `docker-compose logs uptrace`?

[2022-08-29 13:00] l0nax commented on #73
Sure:
[code]

[2022-08-29 13:20] vmihailenco commented on #73
This should be fixed in v1.0.0-rc3. Thanks for the report!

[2022-08-29 13:20] #73 closed

[2022-08-30 10:29] vmihailenco opened #74 "where db.rows_affected > 0 fails"

[2022-08-30 13:52] vmihailenco commented on #74
Should be fixed in master

[2022-08-30 13:52] #74 closed

[2022-09-06 09:25] vmihailenco opened #76 "Single Sign-On or a JWT token with explanation how to sign it"

[2022-09-06 10:33] derN3rd commented on #76
For us JWT token authentication with Cloudflare Access ([docs here](https://developers.cloudflare.com/cloudflare-one/identity/authorization-cookie/validating-json/)) would be the best solution.

As uptrace is written in golang, it would be probably the easiest way to enable a config just for cloudflare access, as their jwts need certUrl handling, AUD to be configurable and a specific header value

[2022-09-09 13:25] vmihailenco opened #79 "Poll/Wait until ClickHouse and SQLite databases are available"

[2022-09-09 13:26] vmihailenco opened #80 "Move exceptions and events to Logs tab"

[2022-09-10 07:54] #79 closed

[2022-09-12 07:14] vmihailenco opened #82 "Derive metrics from spans using ClickHouse materialized views"
We already [do](https://github.com/uptrace/uptrace/blob/master/pkg/bunapp/chmigrations/20220703121853_metrics.up.sql#L76-L93) this, but we should make this configurable.

For example, we could use this to generate metrics from Vector logs - https://vector.dev/docs/reference/configuration/sources/host_metrics/

[2022-09-12 07:17] vmihailenco opened #83 "Add support for Sentry ingestion API / accepting spans from Sentry SDK"
Uptrace should accept data from Sentry SDK/clients in Sentry format and store it in the Uptrace database. The main benefit is the ability to use https://github.com/getsentry/sentry-javascript which is years ahead of opentelemetry-js.

A good start would be to configure sentry-go to send data to Uptrace:

[code]

Then check what data Sentry SDK sends to the backend and try to map it to internal Upt

[2022-09-15 10:51] hjweddie opened #85 "How to setup tail-based sampling"
Our golang programs export data to uptrace 14317/14318 ports with UPTRACE_DSN header, but do not know how to do tail-based sampling

[2022-09-15 12:41] vmihailenco commented on #85
Uptrace itself does not support tail-based sampling and instead you should configure it in OpenTelemetry Collector. Try to follow https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/tailsamplingprocessor and later we will provide a more detailed tutorial.

[2022-09-15 13:57] hjweddie commented on #85
I undestand that how to use otel collector for tail-based sampling, but feel confused about how to let otel collector distribute span/trace to different project in Uptrace

[2022-09-15 14:01] hjweddie commented on #85
Is it necessary to deploy different otel collectors exporting to Uptrace for different projects?
Is it possible to deploy one collectors for different projects?

[2022-09-16 08:14] vmihailenco commented on #76
@derN3rd @aramperes do you happen to know if it is possible to use Cloudflare Access to protect http://localhost:19876/ so I can test this locally? Any hints would be appreciated...

[2022-09-16 08:17] derN3rd commented on #76
Yes, you can run a [cloudflared tunnel](https://developers.cloudflare.com/cloudflare-one/connections/connect-apps/install-and-setup/tunnel-guide/local/run-tunnel/) which is basically a direct connection from your localhost to their datacenter. The url that it spits out can be used to setup a dns record on cloudflare which then [can be used in Cloudflare Access](https://developers.cloudflare.com/cl

[2022-09-16 08:46] vmihailenco commented on #76
@derN3rd I was afraid I need a tunnel... that seems to require a lot of configuration.

Could you shed some light on who & when is supposed to send/set `Cf-Access-Jwt-Assertion` header or `CF-Authorization` cookie in [golang](https://developers.cloudflare.com/cloudflare-one/identity/authorization-cookie/validating-json/#golang-example) example ?

Cloudflare should not be able to set a cookie on a

[2022-09-16 08:48] vmihailenco commented on #76
It is also not clear what is the purpose of the apps I can configure there if they can't get a cookie/header

![cf-apps](https://user-images.githubusercontent.com/290976/190597339-88273082-9a1c-4924-b28f-a95ecf2dcd54.png)

[2022-09-16 08:51] derN3rd commented on #76
Short example config for cloudflared

/etc/cloudflared/config.yml
[code]

The application you add in Cloudflare Access must be a Cloudflare proxied DNS entry. Otherwise they will just link to it, because they cannot proxy a private subnet IP. Only CF proxied URLs can be protected by them.

I really recommend going through this tutorial by them:
https://developers.cloudflare.com/cloudflare-one/appl

[2022-09-16 08:54] derN3rd commented on #76
The easiest way to test if all of this works is to add this to your tunnel config:

[code]

And access it, after you configured this domain in your Cloudflare settings and enabled Cloudflare Access for it.
Then you can see all the headers and metadata that will be send by Cloudflare.

[2022-09-16 09:35] vmihailenco commented on #76
This help, thanks.

Okay, looks like I also need a subdomain managed by Cloudflare to try this out. I guess we will need some volunteers to test Cloudflare Access integration, because I am not ready to go as far as buying a domain...

[2022-09-16 09:41] vmihailenco commented on #76
The cloudflare integration can be enabled in the [config](https://github.com/uptrace/uptrace/pull/87) by uncommenting the lines:

[code]

Would be nice if someone can test the integration before I blindly write some docs :)

[2022-09-16 09:41] vmihailenco opened #88 "Allow to configure secret_key and audience in the JWT user provider"

[2022-09-16 09:56] vmihailenco commented on #85
You can use [routing](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/routingprocessor) to route spans to different exporters. You will need s separate exporter for each project.

Having a separate Otel Collector per project is also an option.

[2022-09-16 12:15] aramperes commented on #76
I'll be able to test it tonight

[2022-09-16 14:58] aramperes commented on #76
Cloudflare Access works by protecting a subdomain like `uptrace.mydomain.com` under it. If the user is not logged in to Cloudflare Access, Cloudflare will redirect the browser to `mydomain.cloudflareaccess.com` so the user can verify their identity as required (PIN, GitHub login, etc.). Once Cloudflare authorizes the user for the application, they are redirected back to `uptrace.mydomain.com`.

Si

[2022-09-17 01:44] aramperes commented on #76
Tested, with a [Helm chart](https://github.com/aramperes/momoperes.ca/tree/master/uptrace) I threw together to deploy in my k8s cluster:

https://user-images.githubusercontent.com/6775216/190835678-e00f225f-768c-4c47-8cf0-4dedbe001866.mov

[2022-09-17 20:38] aramperes opened #90 "Support an external database (postgres, mysql)"
Supporting an external SQL database as an alternative to sqlite would be useful for running Uptrace in a stateless environment like Kubernetes. This could allow Uptrace to run with multiple replicas, and enable rolling restarts to reduce downtime.

Keeping sqlite as the default reduces dependencies for a quick setup, and still works well in `systemd` and `docker-compose` setups.

Personally I have

[2022-09-19 11:59] vmihailenco commented on #90
I can take this and document how to use PostgreSQL with Uptrace. It still won't be a default choice because sqlite works okay in most cases. My biggest concern is the lack of testing with other DBMS, but I guess this is where community can help.

[2022-09-19 12:00] vmihailenco commented on #90
Postgres and SQLite have more features in common so it is easier to support those 2. MySQL will probably require a bit more work.

[2022-09-20 10:18] vmihailenco opened #91 "Provide a way to select a custom grouping period for metrics .e.g 1/3/5/15 minutes"

[2022-09-21 13:22] Etienne-Carriere opened #93 "Duration in Explore view seems to be 1000 too small"
Hello,

I am using
* uptrace 1.0.3
* Data comes from
  * Opentelemetry collector
  * Jaeger + Opentracing source data

I have some issues with the duration unit in some dashboard :

On the dashboard /explore/<project_id>/groups, I see :
![image](https://user-images.githubusercontent.com/2909360/191513441-0ef665f9-d886-434d-bb26-b24b40ed74f7.png)

We see that for group "Celery:run:check_clients_non

[2022-09-22 03:36] aramperes opened #94 "Vendor third-party stylesheets"
The UI currently makes 2 third-party requests for fonts and icons:

https://github.com/uptrace/uptrace/blob/bb1c5fb771cabaeb2944163bf0bca9705a264f1a/vue/public/index.html#L9-L10

While this works well for public access, some Uptrace hosted installations are behind firewalls that do not have access to these CDNs or the internet. It would be beneficial to vendor those files during the build.

[2022-09-22 06:22] #93 closed

[2022-09-22 09:10] vmihailenco commented on #93
Thanks for the report and @aramperes for the quick fix.

[2022-09-22 11:46] #94 closed

[2022-09-22 11:49] Etienne-Carriere commented on #93
Thank you for the fast fix. What is the expected next release date ?

[2022-09-22 11:51] vmihailenco commented on #93
Probably early next week.

[2022-09-23 11:13] vmihailenco opened #98 "Add environment picker in addition to project picker"
![sentry-env](https://user-images.githubusercontent.com/290976/191948658-6b9bf339-3475-4b3a-b846-c4389aaf8414.png)

[2022-09-25 20:52] aramperes opened #100 "Record username in Uptrace http:serve traces"
It would be useful to attach the username of the current user to the traces generated from Uptrace's internal `http:serve`.

[2022-09-26 09:24] vmihailenco commented on #76
I've added some docs about Keycloak and Google Cloud:
- https://uptrace.dev/get/auth-keycloak.html
- https://uptrace.dev/get/auth-google.html

Cloudflare still requires some work.

[2022-09-26 12:49] #100 closed

[2022-09-27 01:52] darcydai opened #103 "How to install uptrace server in cluster mode ?"
I want to install an uptrace server in cluster mode, like this picture. but I didn't find docs about this. is the uptrace server stateless？
![image](https://user-images.githubusercontent.com/20854418/192412792-04b29c55-d65b-4b50-bc0e-0a64e67b25da.png)

[2022-09-27 06:39] vmihailenco commented on #103
Like @aramperes said, you need to use Postgres backend and add some proxy in front of Uptrace: haproxy/nginx, or some cloud LB. There should not be any other gotchas.

@aramperes I also wrote a helm chart [here](https://github.com/uptrace/helm-charts). Could you take a look and check if it would be possible to join our efforts? I don't use K8s myself so feel free to change whatever looks wrong.

T

[2022-09-27 12:17] darcydai commented on #103
Postgres backend?  instead of the clickhouse as storage？

[2022-09-27 14:47] #90 closed

[2022-09-28 02:15] hjweddie commented on #85
thanks, I have used routing processor it to archive tail-base sampling

[2022-09-28 02:15] #85 closed

[2022-09-28 05:20] aramperes commented on #103
@darcydai

No, Uptrace uses Clickhouse for storing the spans still, but it also needs a separate SQL database for application storage, like alerts. #102 was just merged, so it is possible to deploy Uptrace using `Postgres+Clickhouse` instead of `sqlite+Clickhouse`.

[2022-09-29 12:41] vmihailenco opened #104 "Add last value to Alertmanager templates"
Quote from Telegram:

I managed to connect Telegram notifications :)
With example for FS alert rule from documentation alertmanager gets these labels from Uptrace:

Labels:
 - alertname = Filesystem usage >= 5%
 - device = /dev/sdb1
 - host_name = cc-prod
 - project_id = 3
 - rule_query = group by host.name | group by device | where device !~ "loop" | $fs_usage{state="used"} / $fs_usage >= 0.05

A

[2022-09-30 05:15] darcydai commented on #103
thanks

[2022-09-30 05:15] #103 closed

[2022-09-30 06:31] zdyj3170101136 opened #105 "Table system.opentelemetry_span_log doesn't exist"
https://github.com/ClickHouse/ClickHouse/issues/41962

do you have any helpful information about it?

[2022-09-30 08:56] #105 closed

[2022-09-30 11:11] GinkT opened #106 "Error parsing metrics from otel-collector prometheus receiver"
Trying to collect prometheus metrics with otel-collector and pass them to uptrace.
Using prometheus_simple receiver and otlp exporter.

[code]

But Uptrace logs an error for this pipeline.
[code]

[2022-10-01 08:47] vmihailenco commented on #80
Done

[2022-10-01 08:47] #80 closed

[2022-10-01 09:14] vmihailenco commented on #76
Also added some details about Cloudflare - https://uptrace.dev/get/auth-cloudflare.html. Thanks @aramperes for contributing this.

[2022-10-01 09:14] #76 closed

[2022-10-02 12:26] vmihailenco opened #107 "Update screenshots to use correct redirect url"
The same issue exists with keycloak docs - https://uptrace.dev/get/auth-keycloak.html#create-a-client-for-uptrace

If anyone has a correct screenshot, please upload it here.

- [x] update google screenshot
- [ ] update keycloak screenshot

[2022-10-03 12:40] cnovelli opened #108 "Can I follow the same trace I started in the client application on the server?"
what I want to do is to put in the same trace the tracking I do in the client application with the one I do in the server, can I collect the id of the trace or something similar so that it does not create a new trace with a different id?

![Captura de pantalla de 2022-10-03 14-37-16](https://user-images.githubusercontent.com/100791325/193578242-6131478a-5a86-479c-8fa6-acd96028bf01.png)

I want to

[2022-10-03 12:50] repodevs commented on #107
@vmihailenco  here the correct screenshot

<img width="909" alt="Screen Shot 2022-10-01 at 23 01 28" src="https://user-images.githubusercontent.com/13567128/193580785-c447c9d7-e4c4-4025-a519-fdfe39bc902e.png">

[2022-10-04 09:52] vmihailenco commented on #107
@repodevs updated, thank you - https://uptrace.dev/get/auth-google.html

[2022-10-04 10:15] vmihailenco commented on #108
This is called [context propagation](https://uptrace.dev/opentelemetry/distributed-tracing.html#context-propagation). The details depend on the library you are using, but you can try https://github.com/open-telemetry/opentelemetry-js/discussions/2209

[2022-10-04 18:41] sarathchava commented on #107
why is the redirectURI pointing to localhost? can it be made configurable?

[2022-10-04 21:37] aramperes commented on #107
@sarathchava It just has to be set to whatever hostname uptrace is accessible from your browser.

[2022-10-05 02:13] sarathchava commented on #107
@aramperes when i tried with the url from where uptrace is accessible - i am getting
![initialerror](https://user-images.githubusercontent.com/6793196/193964445-404fb8e5-5362-41b9-9b39-4582b87f8854.png)
![url_redirect_err](https://user-images.githubusercontent.com/6793196/193964464-752025ff-23f3-4d08-aa2f-07744bf976fb.png)
when i change redirect uri in google setting to localost - i am being redir

[2022-10-05 02:34] aramperes commented on #107
And for reference, you have to also set this in `uptrace.yml`:

[code]

[2022-10-05 05:50] vmihailenco commented on #107
@sarathchava let me know if @aramperes suggestion works and I will update the docs.

[2022-10-05 15:31] jkrech17 opened #110 "API: Enable Jaeger Compatible Format"
Jaeger is still widely in use.  Enabling a method to write traces to Uptrace and retrieving them in Jaeger format could help migrate towards the Uptrace UI/interface.  This would prevent duplicate storage requirements from supporting Jaeger while transitioning to Uptrace and allow users to view traces within Grafana if needed.

Operations used in Grafana

[code]

Reference: https://github.com/jaeg

[2022-10-05 16:12] sarathchava commented on #107
@vmihailenco @anmic it does work - was able to figure it out after looking into the code. better if docs are updated. some what related is the claims param in config - for google it should be "email"

[2022-10-06 06:23] vmihailenco commented on #110
@jkrech17 a simpler alternative to support Grafana would be via Tempo API which is probably better supported withing Grafana. We even had this working at some [point](https://github.com/uptrace/uptrace/blob/a710f159fbcae1a96da8643eb848d2e53b2ffd64/pkg/tracing/tempo_handler.go), but it caused some dependency conflicts with Prometheus and was removed, but it should not be a problem any more since Pr

[2022-10-06 16:01] jkrech17 commented on #110
Hi,

The tempo API would work as well. I think I had tried it in the past but had an issue getting it to search services.  If we can put it back, I can test it out again and report any issues.

Thanks!

[2022-10-07 11:12] vmihailenco commented on #110
Okay, let's see if this is a popular request.

[2022-10-08 08:25] vmihailenco commented on #98
This is now available in the [cloud version](https://app.uptrace.dev/explore/1)

![env-filter](https://user-images.githubusercontent.com/290976/194697941-adb6a388-0618-484f-955e-40e1e2803dc6.png)

[2022-10-08 11:47] vmihailenco commented on #107
@sarathchava alright, added a note to all 3 supported auth methods including [google](https://uptrace.dev/get/auth-google.html). The `claim: email` was already there. Let me know if anything is missing.

[2022-10-10 13:16] codeagencybe opened #111 "Wordpress integration"
Hello

I'm new into APM in general, I have only tried New Relic for a short time and I wonder how does this compare to New Relic, and specific how does it work for eg Wordpress applications (and others)?
Does this work "out of the box" to collect metrics, slow queries, slow php functions etc... or does this require also custom/special development from the application side to have it working in Upt

[2022-10-12 12:11] vmihailenco commented on #111
Hello,

Uptrace uses OpenTelemetry to receive data from your application, but it looks like none have created an OpenTelemetry plugin for WordPress so far.

You still can use [OpenTelemetry PHP](https://github.com/open-telemetry/opentelemetry-php#getting-started) to create spans manually, but I guess this is not what you are looking for.

Overall it looks like only [Symfony](https://github.com/ope

[2022-10-14 14:03] vmihailenco commented on #111
FYI I've started working on uptrace-php and a basic example is already working - https://github.com/uptrace/uptrace-php/tree/master/example/basic

[2022-10-14 15:41] codeagencybe commented on #111
Hello @vmihailenco
Does make this compatible with Wordpress "ouf of the box"? Its a bit pity that there is nothing yet for the biggest CMS in the world... If any application would benefit from a tracing tool, it would be Wordpress.

[2022-10-17 13:39] vmihailenco commented on #111
@codeagencybe nope, unfortunately Wordpress is still missing an OpenTelemetry plugin.

[2022-10-19 11:58] anmic opened #115 "Fix: tabs do not sync with routes"
![image](https://user-images.githubusercontent.com/3912070/196684465-aace0260-0068-4226-91f8-d0a5e475d41e.png)

[2022-10-19 12:01] anmic opened #116 "Fix: Items don't fit in line."
![image](https://user-images.githubusercontent.com/3912070/196685116-9147af3e-4c12-4ea5-bd00-c30915db2c74.png)

[2022-10-19 14:17] #115 closed

[2022-10-20 11:15] vmihailenco opened #118 "Create SQL migrations for 1.2.0 release"

[2022-10-20 12:48] vmihailenco opened #120 "Sync list of supported software with the cloud version"

[2022-10-22 07:41] vmihailenco opened #122 "Fix migrations with distributed tables"
[code]

[2022-10-22 13:34] #120 closed

[2022-10-22 13:35] vmihailenco commented on #98
Also ported here.

[2022-10-22 13:35] #98 closed

[2022-10-24 11:24] #118 closed

[2022-10-24 11:24] #116 closed

[2022-10-24 12:17] vmihailenco commented on #122
Should be fixed in v1.2.0+

[2022-10-24 12:17] #122 closed

[2022-10-26 10:52] vmihailenco opened #125 "Add some templating capabilities to AlertManager templates"
For https://github.com/uptrace/uptrace/issues/104

After v1.2.0 is released, we will have attributes and metrics values as the data in alerts, for example:

[code]

The goal is to allow users to customize alerts, for example, to get a message like `$goroutines (28) is >= 100 on host.name=localhost service.name=myservice` we could have a template like `$goroutines ({{ $.Metrics["$goroutines"] }}) i

[2022-10-26 10:53] vmihailenco commented on #104
This is done in v1.2.0, for example, `$goroutines`:

[code]

[2022-10-26 10:53] #104 closed

[2022-10-26 10:57] Anuran12 commented on #125
@vmihailenco  I would like to give it a try

[2022-10-26 11:25] vmihailenco commented on #125
@Anuran12 I've updated the issue with some details. Could you check it out and let me know whether it makes sense?

[2022-10-26 11:26] vmihailenco opened #126 "Support FluentBit 2.0 / provide examples using OTLP"
https://github.com/fluent/fluent-bit/releases/tag/v2.0.0

[2022-10-26 11:29] #67 closed

[2022-11-01 09:45] vmihailenco opened #127 "Update K8s chart"
We want to install uptrace via https://github.com/uptrace/helm-charts, and have the following problems.

* The default value for config.listen.grpc, and config.listen.http is wrong. It shall be {addr: ":14317"}, not :14317.
* uptrace has error db.dsn option can not be empty, what value shall we provide for this?

[2022-11-03 09:55] vmihailenco commented on #125
Done in master

[2022-11-03 09:55] #125 closed

[2022-11-03 10:45] mping opened #128 "Can't apply WHERE clause if field has hyphen"
Trying to use the UI with a field with an `-` gives the following:

[code]

The UI also complains with `unexpected "-id" in "where request-id<- = 1" `

[2022-11-03 11:34] vmihailenco commented on #128
This should be fixed in the coming v1.2.0 release.

[2022-11-03 11:34] #128 closed

[2022-11-04 15:26] icyleaf opened #129 "vector return unknown variant `ndjson`"
I use [this method](https://uptrace.dev/opentelemetry/structured-logging.html#vector) tranform log from vector to uptrace, in vector `http` sinks docs which the [encoding.exec](https://vector.dev/docs/reference/configuration/sinks/http/#encoding.codec) only list `json` and `text`. if fill the `ndjson` vector will return an error:

[code]

[2022-11-04 15:30] icyleaf commented on #129
solved by [this](https://github.com/uptrace/uptrace/blob/master/example/vector-logs/vector.toml#L34-L35) example.

[2022-11-04 15:30] #129 closed

[2022-11-05 06:33] vmihailenco commented on #129
I will update the docs.

[2022-11-08 09:53] nappa85 opened #130 "How to tune message size limit?"
I'm trying uptrace with the docker example.
After starting like 10 services at once, pushing trace and metrics to otel-collector, I stopped seeing data in uptrace.
Looking for a cause, I've found this log in otel-collector container:
[code]

Seems like uptrace has a 4MB incoming message size limit, but can't find how to tune it via config.
I've tried tuning otel-collector instead, I've ended up wi

[2022-11-08 10:50] vmihailenco commented on #130
4mb is the default GRPC server limit. I will raise the limit to 32mb. It will be available in 1.2.0.

Thanks for reporting.

[2022-11-08 10:52] #130 closed

[2022-11-10 20:55] AndreyBaranyuk opened #131 "Panic"
Hello, I had met panic in uptrace of previous version.

uptrace_1       | panic: runtime error: invalid memory address or nil pointer dereference
uptrace_1       | [signal SIGSEGV: segmentation violation code=0x1 addr=0x18 pc=0x798b29]
uptrace_1       |
uptrace_1       | goroutine 7585116 [running]:
uptrace_1       | database/sql.(*Rows).close.func1()
uptrace_1       | 	database/sql/sql.go:3321 +0

[2022-11-11 06:43] vmihailenco commented on #131
@AndreyBaranyuk do you have a full trace?

[2022-11-11 06:48] vmihailenco commented on #107
Both screenshots were updated.

[2022-11-11 06:48] #107 closed

[2022-11-11 07:05] AndreyBaranyuk commented on #131
No, sorry, I don’t have a full trace, because server made panic every time I had restarted it and it is full logs of this panic. So, after update, my issue is not actual.

Vladimir, thank you for this service. It’s very useful for us.

[2022-11-11 10:49] vmihailenco opened #132 "Make colors consistent with the cloud version"

[2022-11-22 20:33] GriefNorth opened #133 "[question] Alerts and "at least on project is required ""
When creating a rule for notifications, I get the error "at least on project is required"
[code]
What does this mean ?
My rule looks like this
[code]

[2022-11-23 06:46] vmihailenco commented on #133
Try to replace `project` to `projects`. Also, you can upgrade to v1.2.x and Uptrace will monitor all projects by default.

[2022-11-24 08:58] #133 closed

[2022-11-24 21:17] GriefNorth opened #134 "[question] Alert rule doesn't work"
Hello. I have configured custom metrics from a span
[code]
and alert rule:
[code]
but it doesn't work.
However, the dashboards shows that one of the spans exceeds 10 seconds
![uptrace_dash](https://user-images.githubusercontent.com/2506351/203863624-402e05de-654c-40e6-80d9-4ef23c4a47a2.png)
What is wrong with the alert rule. Thanks so much for the help!

[2022-11-25 12:32] vmihailenco commented on #134
@GriefNorth could you try to change `for: 2m` to `for: 1m`? It looks like the value is "flickering", i.e. every other minute the value is 0 so the condition `for 2 minutes` is never true.

I will release Uptrace v1.2.3 that should fix the problem with "flickering".

[2022-11-25 12:34] GriefNorth commented on #134
I already tried and 0 1 minutes and 5

[2022-11-26 12:17] vmihailenco commented on #134
This should be fixed in v1.2.4.

I recommend to change the metric to:

[code]

And the rule to:

[code]

@GriefNorth could you try again?

[2022-11-27 23:35] aazf opened #135 "Zipkin JSON API does't work."
## Test with curl
[code]

## Response.
<img width="991" alt="image" src="https://user-images.githubusercontent.com/62500486/204165579-f0fda774-16ee-49ff-b06c-97b858853a14.png">

## Uptrace traces id
<img width="982" alt="image" src="https://user-images.githubusercontent.com/62500486/204165630-e0aab97c-008e-4b24-818c-c1865bdefdc3.png">

## At the project page, no new spans added.

[2022-11-28 08:11] GriefNorth commented on #134
The problem was solved on version 1.2.4 with this rule for notifications
[code]

[2022-11-28 09:52] #134 closed

[2022-11-28 10:14] vmihailenco commented on #135
The trace is created with id "00000000000000005af7183fb1d4cf5f". You can use search to find it by id.

The UI is empty because the trace is created at `2019-04-30 09:02:52.355737` and the UI only shows the data for the last hour.

How do you plan to use Zipkin API?

[2022-11-28 15:49] #135 closed, assigned to nobody

[2022-11-28 15:53] aazf opened #136 "How to override kind, status value from vector?"
https://github.com/uptrace/uptrace/blob/b402522a5188d7d14c0d697102e78708285fdda5/pkg/tracing/vector_handler.go#L90-L92

[code]

This Kind can't override. Is any other way to override them?

[2022-11-30 22:04] RouR commented on #127
[code]
It will be converted to
[code]

[2022-11-30 22:07] RouR commented on #127
It will throw next exceptions
[code]